<main class="px-4 py-20 sm:px-6 max-w-6xl lg:px-8 mx-auto">
  <div>
    <h1>
      <.link href={~p"/"}>Phoenix LiveView + JavaScript</.link>
    </h1>
    <h3 class="mt-10 mb-10"><%= @page_title %></h3>
    <%= @inner_content %>
  </div>
</main>
